<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="outlined-text">Я вообще очень сильно тебя люблю.
        И глазки у тебя красивые, и щёчки у тебя красивые и вообще вся ты такая 
        красивая ❤️ ЛЮБЛЮ!
    </title>
    <link rel="stylesheet" href="static/custom.css">
    <link rel="icon" type="image/png" href="static/images/icon.png">
</head>
<body>
    <div class="header-text fade-in">
        <a>Мы пара уже:</a>
        <div id="days-counter">0 дней</div>
    </div>

    <div class="image-container left fade-in">
        <img src="static/images/counter/d_watch.png" alt="Изображение 1" 
        data-sound="static/sounds/sound1.mp3">
        <div class="image-tooltip">Ещё чуть-чуть и можно</div>
    </div>
    <div class="image-container right fade-in">
        <img src="static/images/counter/m_watch.png" alt="Изображение 2"
        data-sound="static/sounds/sound1.mp3">
        <div class="image-tooltip">ЧАСЫ СКАЗАЛИ ТЕБЯ ЦЕЛОВАТЬ</div>
    </div>

    <div class="text-bottom text-bottom--left text-bottom--undecoration fade-in--1">
        <a>и каждой секундой мы дорожим)</a>
    </div>
    
    <a href="/end" class="button">Продолжить &gt;&gt;&gt;</a>
    <a href="/stickers" class="button button--back"><<< Назад</a>

    <div class="overlay fade-in--popup" id="overlay1"></div>

    <div class="popup fade-in--popup" id="popup1">
        <div class="popup-header">
            <button class="close-btn" id="close-btn1">&times;</button>
        </div>
        <div class="popup-body">
            <p>на самом деле часы ничего <br> не говорили)
            </p>
        </div>
        <div class="popup-footer">
            <button class="btn" id="ok-btn1">хе-хе)</button>
        </div>
    </div>

    <audio id="hover-sound"></audio>

    <script src="static/js/script.js"defer></script>
</body>