<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="outlined-text">Конец(</title>
    <link rel="stylesheet" href="static/custom.css">
    <link rel="icon" type="image/png" href="static/images/icon.png">
</head>
<body>
    <div class="text-center fade-in">
        <p>Поздравляю тебя с денём рождения. Желаю тебе быть самой <br> любимой мной всегда. Ты самая самая
            лучшая девочка на свете <br> и лучше тебя я просто не встречал. Ты правда очень очень 
            красивая <br> и очень очень милая. Ты самая прекрасная
            и любимая девочка!! <br>  По мере возможностей скажу тебе ещё больше всего в жизни,
            а также в тг. <br><br>
            Я люблю тебя ❤️ <br>Безумно сильно люблю ❤️
        </p>
    </div>

    <div class="text-bottom text-bottom--undecoration fade-in">Выполнялось: <br> 09.01.2025 — 01.03.2025 <br> p.s. большая часть времени — рисунки 
    </div>

    <div class="text-bottom text-bottom--left text-bottom--undecoration fade-in">
        <a href="https://github.com/dmitrykaras/website-for-love" target="_blank">GitHub</a>
    </div>
    
    <a href="/index" class="button">В начало</a>
    <a href="/stickers" class="button button--back"><<< Назад</a>

    
</body>