<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход ❤️</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
</head>
<body>
    <div class="login-container fade-in">
        <div class="hover-container">
            <h1>Вход</h1>
            <div class="tooltip">Строго по спискам!!!</div>
        </div>
        <form action="/login" method="post">
            <label for="username">Меня зовут:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password"></label>
            <label for="password">Я хочу сказать:</label>
            <input type="text" id="password" name="password" required>
            
            <button class="buttons" type="submit">Войти</button><br><br>
        </form>
        <button class="btn" onclick="openPopup()">Не понимаешь? <br> Показать подсказку?</button>
    </div>

    <div class="overlay fade-in--popup" id="overlay"></div>

    <div class="popup fade-in--popup" id="popup">
        <p>пример: "keyword" очень очень сильно ❤️ <br>
            котик справа снизу тебе подсказывает) <br>
            это 3 важных слова <br>
            (можешь навестись на кнопку входа по приколу)
        </p>
        <div class="popup-footer">
            <button class="btn" onclick="closePopup()">Понятно</button>
        </div>
    </div>
    
    <div class="image1-container fade-in">
        <img src="{{ url_for('static', filename='images/login/mpg.png') }}" alt="Изображение">
        <div class="text">Я люблю тебя ❤️<br>А ты меня?)</div>
    </div>

    <div class="image-container left fade-in">
        <img src="{{ url_for('static', filename='images/login/d_eyes.png') }}" alt="Изображение 1" data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <div class="image-tooltip">Мяу мяу мяу)</div>
    </div>
    <div class="image-container right fade-in">
        <img src="{{ url_for('static', filename='images/login/m_eyes.png') }}" alt="Изображение 2" data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <div class="image-tooltip">Мяу мяу мяу)</div>
    </div>

    <div class="overlay1 fade-in--popup" id="overlay1"></div>

    <div class="popup1 fade-in--popup" id="popup1">
        <div class="popup1-header">
            <button class="close-btn1" id="close-btn1">&times;</button>
        </div>
        <div class="popup1-body">
            <p>я люблю тебя))<br>
                мяу мяу мяу)
            </p>
        </div>
        <div class="popup-footer1">
            <button class="btn1" id="ok-btn1">Спасибо!</button>
        </div>
    </div>

    <audio id="hover-sound"></audio>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>