<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <title>Лежать и кушать)</title>
</head>
<body>
    <div class="header-text fade-in">
        Надо полежать и готовить кушать)
    </div>
    <div class="text-bottom fade-in">Квартира
    </div>

    <a href="/love_general_7" class="button">Продолжить &gt;&gt;&gt;</a>

    <div class="image-container left fade-in">
        <img src="{{ url_for('static', filename='images/love_general_6/bad.png') }}" alt="Изображение 1">
        <div class="image-tooltip">— я люблю тебя<br>— и я тебя</div>
    </div>
    <div class="image-container right fade-in">
        <img src="{{ url_for('static', filename='images/love_general_6/cook.png') }}" alt="Изображение 2">
        <div class="image-tooltip">Трапеция)))</div>
    </div>

    <div class="overlay fade---popup" id="overlay"></div>

    <div class="popup fade-in--popup" id="popup">
        <div class="popup-header">
            <button class="close-btn" id="close-btn">&times;</button>
        </div>
        <div class="popup-body">
            <p>люблю тебя! <br>
               мяу мяу мяу)<br>
                (кровать нас так и не отпустила)
            </p>
        </div>
        <div class="popup-footer">
            <button class="btn" id="ok-btn">и я тебя люблю)</button>
        </div>
    </div>

    <script>
        // Получаем элементы DOM
        const imageContainers = document.querySelectorAll('.image-container');
        const overlay = document.getElementById('overlay');
        const popup = document.getElementById('popup');
        const closeBtn = document.getElementById('close-btn');
        const okBtn = document.getElementById('ok-btn');
    
        // Функция для показа popup и overlay
        function showPopup() {
            overlay.style.display = 'block';
            popup.style.display = 'block';
        }
    
        // Функция для скрытия popup и overlay
        function hidePopup() {
            overlay.style.display = 'none';
            popup.style.display = 'none';
        }
    
        // Добавляем обработчики событий на изображения
        imageContainers.forEach(container => {
            container.addEventListener('click', showPopup);
        });
    
        // Добавляем обработчики событий на кнопки закрытия и OK
        closeBtn.addEventListener('click', hidePopup);
        okBtn.addEventListener('click', hidePopup);
    
        // Закрываем popup при клике на overlay
        overlay.addEventListener('click', hidePopup);
    </script>
</body>
</html>
