<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/custom.css">
    <link rel="icon" type="image/png" href="static/images/icon.png">
    <title>Встретились)</title>
</head>
<body>
    <div class="header-text fade-in">
        Немного времени спустя<br> мы дождались друг друга)
    </div>
    <div class="text-bottom fade-in">
        <a href="https://yandex.ru/maps/-/CHqEM66x" target="_blank">всё ещё Сенная площадь</a>
    </div>

    <a href="/love_general_3" class="button">Продолжить &gt;&gt;&gt;</a>
    <a href="/love_general_1" class="button button--back"><<< Назад</a>

    <div class="image-container left fade-in">  
        <img src="static/images/love_general_2/hugging.png" alt="Изображение 1"
        data-sound="static/sounds/sound1.mp3">
        <div class="image-tooltip">*мур мур мур*</div>
    </div>
    <div class="image-container right fade-in">
        <img src="static/images/love_general_2/kiss_m.png" alt="Изображение 2"
        data-sound="static/sounds/sound1.mp3">
        <div class="image-tooltip">кусь)</div>
    </div>

    <div class="overlay fade-in--popup" id="overlay1"></div>

    <div class="popup fade-in--popup" id="popup1">
        <div class="popup-header">
            <button class="close-btn" id="close-btn1">&times;</button>
        </div>
        <div class="popup-body">
            <p>я всё также не знаю что сказать... <br>
               мяу мяу мяу)<br>
            </p>
        </div>
        <div class="popup-footer">
            <button class="btn" id="ok-btn1">Ладно</button>
        </div>
    </div>

    <audio id="hover-sound"></audio>

    <script src="static/js/script.js"defer></script>
</body>
</html>
