<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <title>Ждёмс...</title>
</head>
<body>
    <div class="header-text fade-in">
        Бывает такое что надо подождать чуток)
    </div>
    <div class="text-bottom text-bottom--undecoration fade-in">Где-то у дома
    </div>

    <a href="/love_general_6" class="button">Продолжить &gt;&gt;&gt;</a>
    <a href="/love_general_4" class="button button--back"><<< Назад</a>

    <div class="image-container center fade-in">
        <img src="{{ url_for('static', filename='images/love_general_5/call.png') }}" alt="Изображение 1"
        data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <div class="image-tooltip">ну ёмаё...</div>
    </div>

    <div class="overlay fade-in--popup" id="overlay1"></div>

    <div class="popup fade-in--popup" id="popup1">
        <div class="popup-header">
            <button class="close-btn" id="close-btn1">&times;</button>
        </div>
        <div class="popup-body">
            <p>АААААА!!!!<br>
            <br>
            </p>
        </div>
        <div class="popup-footer">
            <button class="btn" id="ok-btn1">ладно...</button>
        </div>
    </div>

    <audio id="hover-sound"></audio>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
