<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <title>Пословицы и поговорки</title>
</head>
<body>
    <div class="header-text fade-in">
        Лучшее пословицы которые все знают)
    </div>
    <div class="text-bottom text-bottom--undecoration fade-in">В книге о любви)
    </div>

    <a href="/" class="button">Продолжить &gt;&gt;&gt;</a>

    <div class="text-proverbs text-proverbs--1 fade-in">
        Век живи — век люби Веронику ❤️
    </div>

    <div class="text-proverbs text-proverbs--2 fade-in">
        Любишь кататься — люби Веронику ❤️
    </div>

    <div class="text-proverbs text-proverbs--3 fade-in">
        Где родился — там люблю Веронику ❤️
    </div>

    <div class="text-proverbs text-proverbs--4 fade-in">
        Муж и жена — одна Вероника и один Дима ❤️
    </div>

    <div class="text-proverbs text-proverbs--5 fade-in">
        Семь раз люби Веронику, один раз тоже люби Веронику ❤️
    </div>

    <div class="text-proverbs text-proverbs--6 fade-in">
        Глаза боятся — все любят Веронику ❤️
    </div>

    <div class="text-proverbs text-proverbs--7 fade-in">
        Сделал дело — люби Веронику ❤️
    </div>

    <div class="text-proverbs text-proverbs--8 fade-in">
        И так далее...
    </div>
</body>
</html>
