<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="outlined-text">...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
</head>
<body class="body body--punish">
    <div class="text-center text-center--punish fade-in">
        <p>ну всё... капец тебе... ВРЕМЯ ОТРЕЗАТЬ ПИПИСЬКИ 
        </p>
    </div>

    <div class="image-container right fade-in">
        <img src="{{ url_for('static', filename='images/punishnent/knife.png') }}" alt="Изображение 2">
    </div>

    <div class="image-bg fade-in">
        <img src="{{ url_for('static', filename='images/punishnent/nadz.png') }}">
    </div>

    <a href="/transitional" class="button button--punish">Вернутся обратно(</a>
</body>