<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/custom.css">
    <link rel="icon" type="image/png" href="static/images/icon.png">
    <title>Подарок</title>
</head>
<body class="body">

    <div class="header-text fade-in">
        В общем-то вот такой вот <br> у меня мини милый подарок:
    </div>


    <a href="/end" class="button">Продолжить &gt;&gt;&gt;</a>
    <a href="/video" class="button button--back"><<< Назад</a>

    <a href="https://t.me/addstickers/Love_v_d" class="text-center">Жми на меня!</a>

    <div class="text-bottom text-bottom--left text-bottom--undecoration fade-in">
        <a>Это ещё не всё. Не забудь вернутся) <br> я же не зря делал...</a>
    </div>

    <audio id="hover-sound"></audio>
    
    <script src="static/js/script.js"defer></script>
</body>
</html>
