<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <title>Вот они все)</title>
</head>
<body>

    <a href="/space" class="button">
        Продолжить &gt;&gt;&gt;
        <div class="tooltip-button">Дальше космос...</div>
    </a>
    <a href="/love_general_7" class="button button--back"><<< Назад</a>


    <div class="image-container-tog fade-in">
        <img src="{{ url_for('static', filename='images/login/m_eyes.png') }}" data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/login/d_eyes.png') }}" data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/love_general_1/m_metro.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/love_general_1/d_metro.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/love_general_2/hugging.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/love_general_2/kiss_m.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/love_general_3/hats.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/stickers/hat_d.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/stickers/hat_m.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/love_general_3/study_together.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/stickers/study_m.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/stickers/study_d.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/love_general_4/bus.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/love_general_4/train.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/love_general_5/call.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/love_general_6/bad.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/love_general_6/cook.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/stickers/cook_d.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/love_general_7/way1.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/love_general_7/way2.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">
        <img src="{{ url_for('static', filename='images/stickers/down.png') }}"  data-sound="{{ url_for('static', filename='sounds/sound1.mp3') }}">

    </div>
    <div class="header-text fade-in">
        Все вместе:
    </div>

    <div class="text-bottom fade-in">
        <a href="" target="_blank">На сайте)</a>
    </div>


    <audio id="hover-sound"></audio>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>