<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="outlined-text">Предупрежение!!!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
</head>
<body>
    <div class="text-center fade-in">
        <p>Я делал этот сайт полность самостоятельно (chat-gpt не в счёт)<br>
            и я очень надеюсь что тебе понравится. Надеюсь <br>
            ты не испугалась моих художеств, ведь это и есть мой ... <br>
            (первые страницы кринж, но дальше будет лучше :/ извините...)<br>
            (нажимай на каждую стрицу в пустую/любую облость чтобы появился звук)
        </p>
    </div>
    <a href="/love_general_1" class="button button--origin">ЧИТАИТЬ ДАЛЕЕ...</a>

    <button class="unclickable-button fade-in" id="movingButton">отказаться...</button>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>