<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/custom.css">
    <link rel="icon" type="image/png" href="static/images/icon.png">
    <title>Видево)</title>
</head>
<body>
    <video class="video fade-in" muted loop autoplay>
        <source src="static/images/video/love.mp4" type="video/mp4">
      </video>

    <div class="header-text fade-in">
        Милое видево ❤️
    </div>

    <a href="/stickers" class="button">Продолжить &gt;&gt;&gt;</a>
    <a href="/space" class="button button--back"><<< Назад</a>
    
    <script src="static/js/script.js"defer></script>
</body>
</html>